<!DOCTYPE html>
<html>
  <head>
    <title>Threadz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <h1>ThreadZ</h1>
    <% if @logged_in %>
    <div>
    <%= link_to("Outfits", outfits_path) %>
    <%= link_to("Clothes", clothings_path) %>
    <%= link_to("Users", users_path) %> <br>
    <%= link_to("Logout", logout_path, method: "delete") %> <br>
  </div>
    <% else %>
  <div class="nav-links">
    <%= link_to("Log In", login_path) %>
    <%= link_to("Sign Up", signup_path) %>
  </div>
<% end %>
</nav>

  <div>
    <%= yield %>
  </div>
  </body>
</html>
