<!DOCTYPE html>
<html>
  <head>
    <title>Threadz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body class="align">
    <nav>
      <div class="title-container">
    <h1 class="title">ThreadZ <span><p> "Styling made easy" </p> </span> </h1>
      </div>
    <% if @logged_in %>
    <div class="nav-items" id="sidebar">
    <%= link_to("Outfits", outfits_path) %> <br>
    <%= link_to("Clothes", clothings_path) %> <br>
    <%= link_to("Users", users_path) %> <br>
    <%= link_to("Logout", logout_path, method: "delete") %> <br>
  </div>
    <% else %>
  <div class="top-nav-items">
    <p> Already have an account ? <%= link_to("Log In", login_path) %> </p>
    <p>Dont have an account? <%= link_to("Sign Up", signup_path) %></p>
  </div>
<% end %>
</nav>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
