
<%= form_for(clothing, :html => {:class => "form"}) do |f| %>
  <div class="form-input">
      <%= f.label :name %>
      <%= f.text_field :name %>
  </div>

  <div class="form-input">
      <%= f.label :kind %>
      <%= f.text_field :kind %>
  </div>

  <div class="form-input">
      <%= f.label :outfit %>
      <%= f.select(:outfit_id) do %>
      <% @outfits.each do |outfit| %>
      <%= content_tag(:option, outfit.name, value: outfit.id) %>
      <% end %>
      <% end %>
  </div>

  <div class="form-input">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit %>
<% end %>
