<%= form_for(clothing) do |f| %>
  <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
  </div>
  <div>
      <%= f.label :outfit %>
      <%= f.select(:outfit_id) do %>
      <% @outfits.each do |outfit| %>
      <%= content_tag(:option, outfit.name, value: outfit.id) %>
      <% end %>
      <% end %>
  </div>
  <div>
      <%= f.label :type %>
      <%= f.text_field :type %>
  </div>
  <div>
      <%= f.label :image %>
      <%= f.image_tag :image %>
  </div>

  <p> <%= link_to("New Outfit.", new_outfit_path) %></p>

  <%= f.submit %>
<% end %>
