<%= form_for(outfit) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :occasion %>
    <%= f.text_field :occasion %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :email_confirmation %>
    <%= f.email_field :email_confirmation, :value => author.email %>
  </div>
  <%= f.submit %>
<% end %>
