<%= form_for(outfit, :html => {:class => "form"}) do |f| %>
  <div class="form-input">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="form-input">
    <%= f.label :occasion %>
    <%= f.text_field :occasion, placeholder: "Occasion" %>
  </div>

  <%= f.submit %>
<% end %>
